body{
    background-color: rgb(107, 14, 14); 
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}   
th, td, p { 
    text-align: center;
    color: rgb(0, 0, 0); font-size: 17px;
    font: bold 17px arial;
}        
img{
    width: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
table {
    margin: auto;
}
h1, form{
    text-align: center;
    color:rgb(255, 255, 255);
    margin-top: 300px;
    font: bold 100px arial;
}